*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.c1, .c2, .c3,.c4, .c5{
    width: 100%;
    min-width: 150px;
    height: 150px;
}

.c4{
    height: auto;
}
.c1{
    background-color: aqua;
}

.c2{
    background-color: rgb(74, 13, 124);
}

.c3{
    background-color: rgb(11, 70, 70);
}

.c4{
    background-color: rgb(15, 100, 33);
}

.c5{
    background-color: rgb(75, 13, 36);
}
@media (min-width: 680px){
    .c1{
        width: 25;
        order: 1;
    }
    .c2{
        width: 75%;
        order: 3;
    }
    .c3{
        width: 100%;
        order: 3;
    }
    .c4{
        width: 100%;
        order: 4;
    }
    .c5{
        width: 100%;
        order: 5;
    }
}
@media (min-width: 800px){
    .c1{
        width: 30%;
    }
    .c2{
        width: 40%;
    }
    .c3{
        width: 30%;
    }
    .c4{
        width: 500%;
    }
    .c5{
        width: 50%;
    }
}
